{% extends 'base.html' %}
{% load static %}
{% block content %}

    <hr>
  <ul class="navbar-nav d-flex flex-row text-bold">  
    <li class="nav-item me-3 me-lg-0 m-2">
      <div class="col-7">
          <form class="form-inline mx-auto" role="search" action="{% url 'search' %}" method="get">
                  <div class="form-group">
                      <input type="text" class="form-control" role="search" placeholder="search business" aria-label="Search" name="title">
                       
                  </div>
          </form>
  
      </div>
    </li>

    <li class="nav-item me-4 me-lg-0">
                    
      <div class="col-8">
         <a href="{% url 'newbusiness' %}"><button class="btn btn-info btn-sm text-center style margin-top: 5px;text-align:right; font-size:15px; font-weight:bold">SUBMIT YOUR BuSINESS!</button></a>
      </div>

    </li>

    <li class="nav-item me-4 me-lg-0">
                    
      <div class="col-8">
         <a href="{% url 'newpost' %}"><button class="btn btn-info btn-sm text-center style margin-top: 5px;text-align:right; font-size:15px; font-weight:bold">ADD A POST!</button></a>
      </div>

    </li>

    <li>

      <a href="{% url 'newpost' %}">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="3" width="18" height="18" rx="5" stroke="var(--text-dark)" stroke-width="1.8"/>
            <line x1="12.1" y1="6.9" x2="12.1" y2="17.1" stroke="var(--text-dark)" stroke-width="1.8" stroke-linecap="round"/>
            <line x1="6.9" y1="11.8" x2="17.1" y2="11.8" stroke="var(--text-dark)" stroke-width="1.8" stroke-linecap="round"/>
        </svg>
      </a>
    
    </li>
  </ul>  
  <br>

  <!-- end page navbar -->

  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Gikuni Locality</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'health' %}" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Health Department
        </a>
      </li>
      <li>
        <a href="{% url 'police' %}" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Police department
        </a>
      </li>
      <li>
        <a href="{% url 'editprofile' %}" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="people-circle"/></svg>
          Profile
        </a>
      </li>
    
    </ul>
    <hr>




              
     

<footer class="container py-5">
  <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
        <small class="d-block mb-3 text-muted">&copy; Copyright 2022</small>
      </div>
     
  </div>
</footer>

{% endblock content %}