{% load static %}

<div class="container">
  
    <div class="row">  <hr>
        {% if searched_business %}
        <h2>{{searched_business | length}} projects found.</h2>
        {% else %}
        <h2>Found 0 businesses {{message | title}} </h2>
        {% endif %}
    </div>
    <div class="row">
         {% if searched_business %}
            {% for business in searched_business %}
            <div class="shadow p-3 mb-4 bg-body rounded-top border-top border-2 border-aquamarine" style="border-radius:10px;">
              <div class="card-header">
                <h2 class="card-title text-center" >
                  <a style="text-decoration:none;" href="{{ business.link }}" target="_blank">
                    {{business.title}}  
                    {{business.business_image}}  
                    {{business.description}} 
                    {{ business.link}}
                  </a>
                </h2>

              </div>
              
              <img class="card-img-top" class="img-responsive" src="{{business.business_image.url}}" size="100px100"style="border-radius:15px; ">

              

            </div>
            <div class="card-body">
            {% endfor %}
        {% endif %}
    </div>
</div>
<hr>  
