{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 
<style>
#wrapper {
    
    height: 400px;
    width: 100%;
    background-image: url("../static/images/background.jpg");
 }
</style>

<div class="wrapper">
    <div class="container">    
        <div class="form-data">             
            <h4>Great to have you Back!</h4>
            <form action="{% url 'sign-in'%}" method="POST">
                {%csrf_token%}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </br>  
            
            <div class="sign-up">
            Not yet a member? <a href="{% url 'sign-up' %}">Join us!</a>
            </div>
            
            
        </div>
    </div> 
</div>  
{% endblock content %}