{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
      
      <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

      <title>Sign Out </title>
    </head>

    <body>
      <div id="wrapper">
        <div class="container">
        
          <div class="form-data">
            <form action="">
    
              <input type="text" placeholder="Phone number, username, or email">
              <input type="password" placeholder="Password">
              <button class="form-btn" type="submit"><a href="index.html" style="color: white;">Log in</a></button>
              
            </form>
          </div>  

        </div>  
      </div>

    </body>
</html>    
