{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    

<div id="wrapper">
    <div class="container">    
        <div class="form-group col-md-4 text-light" style="background-color:transparent; border-radius:15px; box-shadow: 2px 2px 5px rgba(3,3,3,0.5);"></div>
          <div class="form-group">
              <h3>Join our beautiful community, together we can!</h3>
          
            <form action="" method="POST">
                {% csrf_token %}
            
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">email</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
          </div>  
            <br>
                              
            <div class="sign-up">
            Already a member? <a href="{% url 'sign-in' %}">Sign In</a>
            </div>
                                    
        </div>
    </div> 
</div>  
{% endblock content %}        


